* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightseagreen;
}

@media only screen and (min-width:426px) {
  .app-container {
    width: 80%;
  }

  .userform {
    margin-top: 47px;
  }

  .userform-c {
    gap: 26px;
    font-size: 12px;
  }

  .userform-label {
    width: 100px;
    font-size: 20px;
  }

  .userform-ipt {
    width: 71%;
    height: 30px;
    font-size: 16px;
  }

  .btn-submit {
    font-size: 24px;
    height: 35px;
  }

  .btn-clear {
    font-size: 24px;
    height: 35px;
  }

  .userdata {
    padding-left: 188px;
    left: 50%;
    top: 90px;
  }

  .userdata-heading {
    margin-left: 8px;
    width: 115%;
    font-size: 26px;
  }


}

@media only screen and (max-width:426px) {
  .app {}

  .nabvar {
    width: 108%;
  }

  .app-container {
    margin-left: 5px;
    width: 100%;
  }

  .userform {
    margin-top: 31px;
  }

  .userform-c {
    gap: 14px;
    font-size: 12px;
  }

  .userform-label {
    width: 74px;
    font-size: 15px;
  }

  .userform-ipt {
    width: 92%;
    height: 24px;
    font-size: 12px;
  }

  .btn-submit {
    font-size: 16px;
    height: 25px;
  }

  .btn-clear {
    font-size: 16px;
    height: 25px;
  }

  .userdata {
    padding-left: 0;
    top: 62px;
    left: 54%;
  }

  .userdata-heading {
    margin-left: 8px;
    width: 108%;
    font-size: 16px;
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  height: 84%;
  margin-top: -54px;
  display: flex;
  overflow: hidden;
}

.userform {
  display: flex;
  flex: 1 1;
}

.userdata {
  flex: 1 1;
  border-left: 6px solid rgba(0, 0, 0, 0.1);
  height: 500px;
  position: absolute;
}

.nabvar {
  background-color: darkcyan;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 25px;
}

.userform-main {
  width: 46%;
}

.userform-c {
  display: grid;
}

.userform-label {
  display: inline-block;
  text-align: revert;
}

.gender-container {
  display: flex;
}

.gender-options {
  display: flex;
  flex-direction: column;
}

.userform-ipt {
  border-radius: 8px;

}

.footer-btn {
  display: contents;
}

.btn-submit {
  background-color: darkcyan;

}

.btn-clear {
  background-color: red;
}

.userdata-output {
  text-align: center;
}

.userdata-heading {
  background-color: aquamarine;

  height: 35px;
  justify-content: center;
  align-items: center;
  display: flex;

}

.img-fluid {
  width: 120px;
  height: 120px;
}